<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd ">

	<!-- This is our Beans value as an element -->
	<bean class="com.demo.entity.Employee" name="emp1">
		<property name="name" value="abhiman"/>
		
		<property name="number">
			<list>
				<value>11111</value>
				<value>22222</value>
				<value>33333</value>
			</list>
		</property>
		<property name="address">
			<set>
				<value>Pune</value> 
				<value>Mumbai</value> 
				<value>Magpur</value> 
			</set>
		</property>
		
		<property name="course">
			<map>
			<entry key="one" value="fsd"/>
			<entry key="two" value="Testing"/>
			</map>
		</property>
		
	</bean>


</beans>